@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(56, 83, 128);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.search {
    height: 200px;
    position: relative;
}


.search .btn {
    position: absolute;
    top: 0;
    right: 0;
    left: 0px;
    font-size: 24px;
    background-color: rgb(89, 131, 201);
    border: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: transform .3s ease;
}

.search .input {
    background-color: white;
    border: 0;
    font-size: 18px;
    height: 50px;
    width: 50px;
    padding: 15px;
    box-sizing: border-box;
    transition: width .3s ease;
}

.search .input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}

/* Back Button */
.btn {
    text-decoration: none;
    padding: 0.5rem;
    border: 3px solid black;
    color: black;
    font-family: "Ariel", cursive;
    font-weight: 400;
    font-style: normal;
    top:5%;
    left:5%;
    height:40px;
    position: absolute;
    background: rgb(255,255,255);
  }


