

body {
    background-color: lavender;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn {
    background-color: lavenderblush;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1rem
    border-radius: 5px;
    border: none;
    color: rgb(157,134,186);
}
